body {
    background: linear-gradient(135deg, black,blue,darkblue);
    background-size: 500% 500%;
    animation: gradient 10s ease-in infinite;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

.img-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.img {
    display: flex;
    justify-content: center;
    height: 450px;
    width: 750px;
    border-radius: 24px;
    background: linear-gradient(
        to right,
        red,
        orange,
        yellow,
        lime,
        lightgreen,
        cyan,
        skyblue,
        blue,
        blueviolet,
        indigo
    );
    background-size: 500% 500%;
    animation: gradient 5s ease-in-out infinite,
               rainbow 4s ease-in infinite;
    transition: 0.6s;
}

.img:hover {
    transform: scale(1.06);
    filter: contrast(2);
}

img {
    height: 400px;
    width: 700px;
    margin: auto;
    border-radius: 17px;
    transition: 0.8s;
    filter: opacity(70%);
}

img:hover {
    filter: opacity(100%);
}

.text {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: textcolor 4s ease infinite;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 20px 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 6px;
    border: none;
    animation: bg-color 3s linear infinite;
    transition: 0.5s linear;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 7px lightgreen,
                0 0 14px greenyellow,
                0 0 20px green;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes bg-color {
    0% {
        background-color: red;
    }
    25% {
        background-color: orange;
    }
    50% {
        background-color: yellowgreen;
    }
    75% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
}

@keyframes rainbow {
    0% {
        box-shadow: 0 0 20px red,
                    0 0 40px red,
                    0 0 60px red;
    }
    20% {
        box-shadow: 0 0 20px orange,
                    0 0 40px orange,
                    0 0 60px orange;
    }
    40% {
        box-shadow: 0 0 20px yellow,
                    0 0 40px yellow,
                    0 0 60px yellow;
    }
    60% {
        box-shadow: 0 0 20px lime,
                    0 0 40px lime,
                    0 0 60px lime;
    }
    80% {
        box-shadow: 0 0 20px cyan,
                    0 0 40px cyan,
                    0 0 60px cyan;
    }
    100% {
        box-shadow: 0 0 20px red,
                    0 0 40px red,
                    0 0 60px red;
    }
}

@keyframes textcolor {
    0% {
        color: red;
        text-shadow: 3px 3px 5px red;
    }
    25% {
        color: lime;
        text-shadow: 3px 3px 5px lime;
    }
    50% {
        color: blue;
        text-shadow: 3px 3px 5px blue;
    }
    75% {
        color: orange;
        text-shadow: 3px 3px 5px orange;
    }
    100% {
        color: red;
        text-shadow: 3px 3px 5px red;
    }
}
